

%h1 All Movies
= link_to 'Add new movie', new_movie_path 


\
\
\
\
%table#movies
    %thead
        %tr
            %th 
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
    %tbody
    - @movies.each_with_index do |movie, index|
        %tr{class: movie.rating}
            %td= index+1
            %td= movie.title
            %td= movie.rating
            %td= movie.release_date
            %td= link_to "More about #{movie.title}", movie_path(movie)
            
            
      
= form_tag search_path, :method => :get do
    = label  :search_terms, 'search movie'
    = text_field_tag :search_terms
    = submit_tag 'Search TMDb'

= javascript_pack_tag 'movie_list_filter'
= javascript_pack_tag 'movie_popup'