
= render 'sessions/login'
%h1 All Movies

%table#movies
    %thead
        %tr
            %th 
            %th Movie Title
            %th Rating
            %th Release Date
            %th Reviews
    %tbody
    - @movies.each_with_index do |movie, index|
        %tr{:class => ('adult ' unless movie.rating =~ /^G| PG$ /)}
            %td= index+1
            %td= link_to movie.title, movie_path(movie)
            %td= movie.rating
            %td= movie.release_date
            
            
    = link_to 'Add new movie', new_movie_path   
= form_tag search_path, :method => :get do
    = label  :q, 'search movie'
    = text_field_tag :q
    = submit_tag 'search'

= javascript_pack_tag 'movie_list_filter'